[Desktop Entry]
Name=Feishin
Exec=feishin %U
Terminal=false
Type=Application
Icon=io.github.jeffvli.feishin
StartupWMClass=Feishin
Categories=AudioVideo;Audio;Player
